<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container">
    <div class="header-container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1 class="text-light"><a href="index.html"><span>GSC</span></a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
<!--         <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" routerLink="/signin" >Sign In</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div><!-- End Header Container -->
  </div>
</header><!-- End Header -->

<section id="hero" class="d-flex align-items-center">
  <div class="container text-center position-relative" data-aos="fade-in" data-aos-delay="200">
    <h1>Votre Nouvelle Présence en Ligne avec GSC</h1>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
</section><!-- End Hero -->


<section id="clients" class="clients">
  <div class="container">

    <div class="row">

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <img src="assets/img/clients/client-1.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/clients/client-2.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="300">
        <img src="assets/img/clients/client-3.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="400">
        <img src="assets/img/clients/client-4.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="500">
        <img src="assets/img/clients/client-5.png" class="img-fluid" alt="">
      </div>

      <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center" data-aos="zoom-in" data-aos-delay="600">
        <img src="assets/img/clients/client-6.png" class="img-fluid" alt="">
      </div>

    </div>

  </div>
</section><!-- End Clients Section -->


<!-- ======= About Section =======-->
<section id="why-us" class="why-us">
  <div class="container">

    <div class="row">
      <div class="col-lg-4 d-flex align-items-stretch" data-aos="fade-right">
        <div class="content">
          <h3>Gestion Efficace de Centre Commercial</h3>
          <p>
            Optimisez votre expérience shopping avec les solutions complètes de gestion de Bethany pour les centres commerciaux. Nous sommes spécialisés dans l'optimisation des opérations, l'amélioration de la satisfaction des visiteurs et la maximisation des revenus. Notre approche personnalisée garantit une expérience de gestion fluide et rentable.
            Explorez les possibilités d'une administration efficace du centre, de relations optimisées avec les locataires et de solutions innovantes pour un environnement commercial prospère.
          </p>

          <div class="text-center">
            <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-8 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">
          <div class="row">
            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-receipt"></i>
                <h4>Facturation Transparente</h4>
                <p> Notre solution de facturation transparente simplifie le processus financier de votre entreprise. Grâce à des méthodes claires et compréhensibles, vous pouvez suivre facilement vos transactions, éliminant ainsi les surprises et assurant une gestion financière optimale.
                </p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="200">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-cube-alt"></i>
                <h4>Gestion Efficace du Stock</h4>
                <p>Optimisez votre gestion de stock avec nos solutions intégrées. Nous vous aidons à suivre les niveaux de stock, à éviter les pénuries, et à maximiser l'efficacité opérationnelle. Notre approche proactive garantit une gestion fluide, vous permettant de répondre rapidement aux demandes du marché.</p>
              </div>
            </div>
            <div class="col-xl-4 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="300">
              <div class="icon-box mt-4 mt-xl-0">
                <i class="bx bx-images"></i>
                <h4>Expérience Visuelle Immersive</h4>
                <p>Plongez dans une expérience visuelle captivante avec notre approche immersive. Nous vous offrons des solutions qui transforment les images en moments inoubliables. Découvrez une esthétique visuelle qui va au-delà de l'ordinaire, créant ainsi des souvenirs uniques pour vos clients.</p>
              </div>
            </div>
          </div>
        </div><!-- End .content-->
      </div>
    </div>

<!--  </div>-->
<!--</section>&lt;!&ndash; End Why Us Section &ndash;&gt;-->

<!--<section id="cta" class="cta">-->
<!--  <div class="container">-->
<!--    <div class="text-center" data-aos="zoom-in">-->
<!--      <h3>Call To Action</h3>-->
<!--      <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
<!--      <a class="cta-btn" href="#">Call To Action</a>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>&lt;!&ndash; End Cta Section &ndash;&gt;-->



